@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');
@font-face {
    font-family: "HelveticaLT";
    src:url("../fonts/HelveticaLT.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaLTStd";
    src:url("../fonts/HelveticaLTStd-bold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaLTStd-Roman";
    src:url("../fonts/HelveticaLTStd-Roman.otf");
    font-style: normal;
    font-weight: normal;
}

/*start header*/
.header{
    background: #4b96a1;
    height: 86px;
}
.logo{
    margin-right: 40px;
    font-family: 'Cherry Swash',cursive;
    font-size: 40px;
    line-height: 25px;
    color: #ffffff;
    max-width: 182px;
    padding: 28px 0 0  52px ;
}
.header__container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}


.nav{
    display: flex;
    align-items: center;
    height: 86px;
    margin:  0 20px;

}
.nav-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;

}
.nav-btn__line{
    margin: 0 auto;
    width: 18px;
    height: 2px;
    margin: 5px 0;
    background: #ffffff;
    opacity: 0.7;
}

.nav__item a {
    text-decoration: none;
    color: #dce3e4;
    font-family: HelveticaLT;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: center;

}
.nav__delimiter{
    margin: 0 15px;
    height: 18px;
    width: 1px;
    background: #dce3e4;
    transform: rotate(25deg);

}

@media screen and (max-width:711px){
    .header__container {
        flex-direction: column;
    }
    .nav{
        justify-content: space-around;
    }
    .header{
        height: 120px;
    }
    .logo{
       margin: 0    auto;
        padding:  28px 0 0;

    }
}
@media screen and (max-width:440px){
    .header{
        height: 80px;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        margin:  15px 0;
        width:  100%;
        height: 120px;
        background: #4b96a1;
        display: none;

    }
    .nav__item{
        justify-content: center;
        padding: 4px;
    }
    .nav-btn{
        display: block;
    }
    .nav__delimiter{
        display: none;
    }
    .nav-btn:hover ~ .nav{
        display: flex;
    }
    .nav-btn:hover ~ .header{
        height: 300px;
    }

}
/*end header*/

/*start section-1*/
.slider{
    width: 100%;
    overflow-x: hidden;

}
.slider__wrapper{
    display: flex;
    width: 300%;
}
.slider-block{
    width: 33.3333%;
    padding: 137px 0 150px;


}
.slider-block-1{
    background: url("../img/backgroundSection-1.jpg")center no-repeat;
    background-size: cover;
}
.slider-block-2{
    background: url("../img/backgroundSection-2.jpg")center no-repeat;
    background-size: cover;
}
.slider-block-3{
    background: url("../img/backgroundSection-3.jpg")center no-repeat;
    background-size: cover;
}

.slider-choose-1:checked ~ .slider__wrapper{
    transform: translateX(0);
}
.slider-choose-2:checked ~ .slider__wrapper{
    transform: translateX(-33.33%);
}
.slider-choose-3:checked ~ .slider__wrapper{
    transform: translateX(-66.66%);
}

.slider-choose-1,.slider-choose-2,.slider-choose-3{
    display: none;


}
.slider-button{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width:  100px;
    transform: translateY(-100px);


}
.slider-button_button{
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.slider-block__title{
    font-family: HelveticaLTStd;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 42px;
    color: #e4e4e4;
    text-align: center;
}

.btn{
    font-family:HelveticaLT;
    font-weight: 100;
    font-size: 30px;
    color: #e4e4e4;
    background: transparent;
    border: 3px solid #afb1b4;
    border-radius: 3px;
    padding: 0 50px ;
    display: flex;
    margin: 40px auto;


}
/*end section-1*/

/*start section-2*/
.section-2__container{
    margin: 0 auto;
    max-width: 775px;

}
.section-2__title{
    font-family:HelveticaLT;
    font-weight: lighter;
    font-size: 30px;
    line-height: 49px;
    color: #4c505d;
    text-align: center;
    padding: 90px 10px 0;

}
.span{
    font-size: 30px;
    font-weight: bold;
}
.section-2__text{
    font-family: HelveticaLTStd-Roman;
    font-size: 14px;
    text-align: justify;
    color: #4c505d;
    padding: 45px 30px 0;
}

.imgAncor-container{
    display: flex;
    max-width: 420px;
    margin: 75px auto;
    justify-content: space-between;

}
@media screen and (max-width:520px){
    .imgAncor-container{
        justify-content: space-around;
    }
}


.img-ancor{
    width: 55px;
}
/*end section-2*/
.section-3{
    background: #00d089;
}
/*start section-3*/

.section-3 {
    background: #00d089;
}
.setion-3__conteiner{
    max-width: 1024px;
    margin: 0 auto;

}
.section-3__logo{
    padding-top: 95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 303px;
}
.section3__img{
    width: 135px;
    height: 135px;
}
.dhavan{
    width: 125px;
    position: relative;
}
.dhavan__text{
    font-family: HelveticaLTStd;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 26px;
}
.dhavan__comma{
    position: absolute;
    top: -217px;
    left: -20px;
    font-family:HelveticaLTStd;
    font-weight: bold;
    font-size: 338px;
    color: #e4e4e4;
    opacity: 0.3;
}
.section-3_text{
    padding: 60px 30px 80px;
    line-height: 32px;
    color: #ffffff;
    font-size: 18px;
}
.section-4{
    background-image: url("../img/section-3-bg.png");
    background-position: center;
    background-size: cover;
    height: 516px;
    display: flex;
    align-items: center;
}
.fotm_conteiner{
    display: flex;
    align-items: center;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 50%;
    margin:  0 auto;
    width: 429px;
    height: 429px;

}
.form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.input,textarea{
    font-family: HelveticaLTStd;
    font-weight: lighter;
    margin: 7px 0;
    width: 274px;
    border: 1px solid #d8d8d8;
    color: #4c505d;
    line-height: 32px;
    padding-left: 15px;
}
.textarea{
    resize: none;


}
.submit{
    height: 67px;
    width: 66px;
    border: none;
    background: url("../img/submit.png") center, no-repeat;
    margin: 0 auto;
    outline: none;

}

/*end section-3*/

.footer{
    background: #00d089;
}
.cop{
    font-family: HelveticaLTStd;
    text-transform: uppercase;
    line-height: 34px;
    text-align: center;
    color: #ffffff;

}
